$primary: #0098f7;
$secondary: #a7abae;
$tertiary: #CCCD99;
$primary-bg: #111d25;
$secondary-bg: #1c2830;
$modal-bg: rgba(#000, 0.8);
$box-border: rgba($secondary, 0.05);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $primary-bg;
}

h1,
h2,
p {
    color: $secondary
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 7rem;
}

a {
    font-size: 1.1rem;
    color: $primary;
    text-decoration: none;
}

p {
    text-decoration: $secondary;
    font-size: 1.1rem;
}

li {
    list-style: none;
}

.btn {
    background-color: $primary;
    color: $primary-bg;
    padding: 0.4rem 0.6rem;

    i {
        margin-right: 0.2rem;
    }
}

.highlight {
    color: $primary;
    font-weight: 600;
}

header {
    nav {
        z-index: 10;
        transition: 200ms background-color linear;
        background-color: $secondary-bg;
        border-bottom: 1px solid $box-border;
        height: 4rem;

        .nav-container {
            height: 100%;
            width: 100%;
            padding-right: 2.5rem;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .logo img {
                width: 4.5rem;
                position: absolute;
                left: 1rem;
                top: -0.2rem;
            }

            .links {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .link {
                    &:not(:last-child) {
                        margin-right: 1.5rem;
                    }
                }
            }
        }
    }
}

main {
    margin-top: 4rem;

    #main {
        padding: 5rem 8rem 7rem 3rem;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .description {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-right: 10rem;

                .btn,
                p {
                    margin-left: 0.3rem;
                }

                p {
                    font-size: 1.7rem;
                }

                .btn {
                    margin-top: 2.5rem;
                    z-index: 1;
                    background-color: transparent;
                    border: 1px solid $box-border;
                    color: $secondary;
                    padding: 0.4rem 0.6rem;
                    transition: 100ms background-color linear;

                    &:hover {
                        background-color: $box-border;
                    }
                }
            }

            .image-container {
                margin-left: 10rem;
                display: inline-block;
                position: relative;

                img {
                    width: 23rem;
                    background-color: $primary-bg;
                    border-radius: 50%;
                }

                .text-overlay {
                    background-color: $tertiary;
                    display: inline-block;
                    position: absolute;
                    top: 40%;
                    right: 44%;

                    p {
                        font-size: 3.1rem;
                        color: $primary-bg;
                    }
                }

                .backdrop {
                    position: absolute;
                    background-color: $secondary-bg;
                    height: 10rem;
                    width: 10rem;
                    z-index: -1;
                    border: 1px solid $primary;

                    &.right {
                        top: -3rem;
                        right: -3rem;
                    }

                    &.left {
                        bottom: -3rem;
                        left: -3rem;
                    }
                }
            }
        }
    }

    #about {
        position: relative;

        img.wave {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        h2 {
            margin-bottom: 0.8rem;
        }

        .container {
            p {
                display: block;
                width: 70%;
                margin: auto;
                font-size: 1.7rem;

                &:not(:first-child) {
                    margin-top: 0.8rem;
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        background-color: $modal-bg;
        display: none;

        &.show {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .credits-modal {
            background-color: $secondary-bg;
            border: 1px solid $box-border;
            padding: 1rem 0;
            width: 25rem;

            .modal-header,
            hr,
            .modal-body {
                width: 85%;
                margin: auto;
            }

            .modal-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .close {
                    i {
                        color: $secondary;
                        cursor: pointer;
                        font-size: 1.1rem;
                    }
                }
            }

            hr {
                border: none;
                border: 1px solid $box-border;
                margin: 1rem auto 1.8rem;
            }

            .modal-body {
                li:not(:first-child),
                li:not(:last-child) {
                    margin: 1rem auto;
                }
            }
        }
    }

    hr {
        border: none;
        border-bottom: 1px solid $secondary-bg;
        width: 15rem;
        margin: 3.3rem auto 3.8rem;
    }

    .links {
        margin: 0 auto 3rem;

        .btn {
            &:nth-child(1) {
                margin-right: 1rem;
            }

            &:nth-child(2) {
                cursor: pointer;
                margin-left: 1rem;
            }
        }
    }

    .copyright {
        p,
        span {
            color: $secondary;
        }
    }
}